<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <contactlab_hub translate="label" module="contactlab_hub">
            <label>Contacthub</label>
            <tab>contactlab</tab>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<settings translate="label" module="contactlab_hub">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <heading_apisetting translate="label">
                            <label>API Settings</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_apisetting>
                        <apitoken translate="label">
                            <label>ApiToken: </label>
                            <comment>Contacthub Api token</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apitoken>
                        <apiurl>
                            <label>Api base url: </label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apiurl>
                        <apiworkspaceid>
                            <label>Api Workspace ID: </label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apiworkspaceid>
                        <apinodeid>
                            <label>Api Node ID: </label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apinodeid>
                        <useproxy>
                            <label>Use Proxy: </label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </useproxy>
                        <apiproxy>
                            <label>Proxy: </label>
                            <comment>Format URL:PORT</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <useproxy>1</useproxy>
                            </depends>
                        </apiproxy>
                        <heading_behavior translate="label">
                            <label>Behavior</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_behavior>
                        <send_anonymous translate="label">
                            <label>Send anonymous event: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </send_anonymous>
                        <heading_debug translate="label">
                            <label>Debug settings</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>109</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_debug>
                        <log translate="label">
                            <label>Log: </label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </log>
                        <logfilename>
                            <label>File name: </label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>115</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <log>2</log>
                            </depends>
                        </logfilename>                        
                    </fields>
                </settings>
                <events translate="label" module="contactlab_hub">
                    <label>Event track</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>                                     
                        <heading_events translate="label">
                            <label>Event settings</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_events>
						<!--  NON C'è EVENTO?-->  				
						<evtregister translate="label">
                            <label>Registered: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </evtregister>
                        <loggedIn translate="label">
                            <label>LoggedIn: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </loggedIn>
                        <loggedOut translate="label">
                            <label>LoggedOut: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </loggedOut>
                        <campaignName translate="label">
                            <label>Newsletter Campaign: </label>
                            <comment>Campaign Name e.g. (Magento_Campaign)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </campaignName>
                       <campaignSubscribed translate="label">
                            <label>Newsletter subscribed: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </campaignSubscribed>
                        <campaignUnsubscribed translate="label">
                            <label>Newsletter unsubscribed: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </campaignUnsubscribed>
                        <changedSetting translate="label">
                            <label>Locale changed: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </changedSetting>
                       <completedOrder translate="label">
                            <label>Checkout: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </completedOrder>
                        <searched translate="label">
                            <label>Search: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </searched>
                        <addedProduct translate="label">
                            <label>Product added to cart: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </addedProduct>
                        <removedProduct translate="label">
                            <label>Product removed from cart: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </removedProduct>
                        <abandonedCart translate="label">
                            <label>Abandoned Cart: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </abandonedCart >
                        <send_to_not_subscribed translate="label">
                            <label>Send Abandoned Cart event from non-subscribed customers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </send_to_not_subscribed>
                        <min_minutes_from_last_update translate="label">
                            <label>Minimum number of minutes before sending an Abandoned Cart event</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>92</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-not-negative-number validate-digits validate-is-min-of-range</validate>                            
                        </min_minutes_from_last_update>
                        <max_minutes_from_last_update translate="label">
                            <label>Maximum number of minutes before sending an Abandoned Cart event</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>93</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-not-negative-number validate-digits validate-is-max-of-range</validate>                            
                        </max_minutes_from_last_update>
                                   
                        <addedWishlist translate="label">
                            <label>Product added to wishlist: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </addedWishlist>
                        <removedWishlist translate="label">
                            <label>Product removed from wishlist: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </removedWishlist>
                        <addedCompare translate="label">
                            <label>Product added to compare: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </addedCompare>
                        <removedCompare translate="label">
                            <label>Product removed from compare: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </removedCompare>
                        <viewedProduct translate="label">
                            <label>Product viewed: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </viewedProduct>
                        <viewedProductCategory>
                        	<label>Category viewed: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </viewedProductCategory>
                        <orderShipped>
                        	<label>Order Shipped: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </orderShipped>
                        
                    </fields>
                </events>
                <!--  DA VERIFICARE
                <storage translate="label" module="contactlab_hub">
                    <label>Profile keeping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <session translate="label">
                            <label>Keep profile email in session: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </session>
                        <cookie translate="label">
                            <label>Keep  profile email profile in cookie: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cookie>
                        <cookie_verificationkey translate="label">
                            <label>Cookie verification key: </label>
                            <comment>String key for data validation</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cookie_verificationkey>
                    </fields>
                </storage>
                <params translate="label" module="contactlab_hub">
                    <label>Query parameters</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Read Url parameters: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                        </enabled>
                        <prefix translate="label">
                            <label>Contactlab key prefix: </label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </prefix>
                        <emailkey translate="label">
                            <label>Contactlab email key: </label>
                            <comment>Email key (prefix included if present)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </emailkey>
                        <session translate="label">
                            <label>Save Url parameters in session: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </session>
                        <cookie translate="label">
                            <label>Save Url parameters in cookie: </label>
                            <comment></comment>
                            <frontend_type>radios</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </cookie>
                        <cookie_verificationkey translate="label">
                            <label>Cookie verification key: </label>
                            <comment>String key for data validation</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cookie_verificationkey>
                        <tags translate="label">
                            <label>Tags: </label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>contactlab_hub/system_config_form_field_tags</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tags>
                    </fields>
                </params>
                 -->
                
                <cron_events translate="label">
                    <label>Cron Export Events Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>   
                    	<limit>
                    		<label>Limit Events to export</label>
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_eventsLimit</source_model>
                        	<sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    	</limit>                                           
                        <frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>contactlab_hub/adminhtml_system_config_source_cron_frequency</source_model>
                            <backend_model>contactlab_hub/adminhtml_system_config_backend_hub_cron_events</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </frequency>
                        <time translate="label">
                            <label>Start Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency separator="|">
	        						<value>D|W|M</value>
	    						</frequency>                            	                            
                            </depends>                            
                        </time>             
                        <repeat_minutes>
                        	<label>Repeats</label>
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_minutes</source_model>
                        	<sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency>I</frequency>                            	                            
                            </depends>
                        </repeat_minutes>
                        <repeat_hours>
                        	<label>Repeats</label>
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_hours</source_model>
                        	<sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency>H</frequency>                            	                            
                            </depends>
                        </repeat_hours>                                  
                    </fields>
                </cron_events>

                <cron_previous_customers translate="label">
                    <label>Cron Previous Customers Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>     
                    	 <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enable or disable export Previous Customers</comment>
                        </enabled>                  
                    	<previous_date>
                    		<label>Previous Date</label>                    		                    		                            
                    		<frontend_type>text</frontend_type>
                        	<frontend_model>contactlab_hub/adminhtml_system_config_source_date</frontend_model>                        	                         	
                        	<sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    	</previous_date>     
                    	<limit>
                    		<label>Limit Customers to export</label>                    		
                    		
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_customersLimit</source_model>
                        	 
                        	 <frontend_type>text</frontend_type>
                        	<sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                    	</limit>                                           
                        <frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>contactlab_hub/adminhtml_system_config_source_cron_frequency</source_model>
                            <backend_model>contactlab_hub/adminhtml_system_config_backend_hub_cron_previousCustomers</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </frequency>
                        <time translate="label">
                            <label>Start Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency separator="|">
	        						<value>D|W|M</value>
	    						</frequency>                            	                            
                            </depends>                            
                        </time>             
                        <repeat_minutes>
                        	<label>Repeats</label>
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_minutes</source_model>
                        	<sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency>I</frequency>                            	                            
                            </depends>
                        </repeat_minutes>
                        <repeat_hours>
                        	<label>Repeats</label>
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_hours</source_model>
                        	<sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency>H</frequency>                            	                            
                            </depends>
                        </repeat_hours>
                        <extra_properties>
	                   		<label>Export Extra Properties</label>
	                           <frontend_type>multiselect</frontend_type>
	                       	<source_model>contactlab_hub/adminhtml_system_config_source_cron_extraProperties</source_model>
	                       	<sort_order>10</sort_order>
	                           <show_in_default>1</show_in_default>
	                           <show_in_website>1</show_in_website>
	                           <show_in_store>1</show_in_store>
	                   	</extra_properties>                                  
                    </fields>                   
                </cron_previous_customers>
    <!--             
                <cron_subscribers translate="label">
                    <label>Cron Import Subscribers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>      
                    	<enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enable or disable import Subscribers</comment>
                        </enabled>                                                       
                        <frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>contactlab_hub/adminhtml_system_config_source_cron_frequency</source_model>
                            <backend_model>contactlab_hub/adminhtml_system_config_backend_hub_cron_subscribers</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </frequency>
                        <time translate="label">
                            <label>Start Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency separator="|">
	        						<value>D|W|M</value>
	    						</frequency>                            	                            
                            </depends>                            
                        </time>             
                        <repeat_minutes>
                        	<label>Repeats</label>
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_minutes</source_model>
                        	<sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency>I</frequency>                            	                            
                            </depends>
                        </repeat_minutes>
                        <repeat_hours>
                        	<label>Repeats</label>
                            <frontend_type>select</frontend_type>
                        	<source_model>contactlab_hub/adminhtml_system_config_source_cron_hours</source_model>
                        	<sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
								<frequency>H</frequency>                            	                            
                            </depends>
                        </repeat_hours>                                  
                    </fields>
                </cron_subscribers>
                
            	<email translate="label">
            		<label>Email</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
						<enabled>
                            <label>Enabled</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <heading_apisetting translate="label">
                            <label>These settings are for Magento 1.9.1 onwards. They will have no affect on versions before that. You can disable the usage of the email queue below. You can also tweak how many emails are sent with each run of cron, and how long to pause between emails.</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </heading_apisetting>
                        <queue_bypass translate="label">
		                      <label>Bypass Queue</label>		                      
		                      <frontend_type>select</frontend_type>
		                      <source_model>adminhtml/system_config_source_yesno</source_model>
		                      <sort_order>30</sort_order>
		                      <show_in_default>1</show_in_default>
		                      <show_in_website>0</show_in_website>
		                      <show_in_store>0</show_in_store>
						</queue_bypass>
						<queue_percron translate="label">
		                      <label>Emails to Send</label>
		                      <comment>Number of emails to send per cron invocation. Leave blank for default of 100 messages sent per cron.</comment>
		                      <frontend_type>text</frontend_type>
		                      <sort_order>40</sort_order>
		                      <show_in_default>1</show_in_default>
		                      <show_in_website>0</show_in_website>
		                      <show_in_store>0</show_in_store>
						</queue_percron>
						<queue_pause translate="label">
		                      <label>Pause between emails (ms)</label>
		                      <comment>Some SMTP servers restrict email sending rates as an anti-spam measure. Add a delay between each email being sent. Leave blank for default 0 ms.</comment>
		                      <frontend_type>text</frontend_type>
		                      <sort_order>50</sort_order>
		                      <show_in_default>1</show_in_default>
		                      <show_in_website>0</show_in_website>
		                      <show_in_store>0</show_in_store>
						</queue_pause>
					</fields>
            	</email>
            	-->
            </groups>
        </contactlab_hub>
    </sections>
</config>
