<?xml version="1.0"?>
<config>
    <modules>
        <Contactlab_Hubcommons>
            <version>1.0.1</version>
            <description>Magento/ContactLab Common functions.</description>
        </Contactlab_Hubcommons>
    </modules>
    <global>
        <helpers>
            <contactlab_hubcommons>
                <class>Contactlab_Hubcommons_Helper</class>
            </contactlab_hubcommons>
        </helpers>
        <blocks>
            <contactlab_hubcommons>
                <class>Contactlab_Hubcommons_Block</class>
            </contactlab_hubcommons>
        </blocks>
        <resources>
            <contactlab_hubcommons_setup>
                <setup>
                    <module>Contactlab_Hubcommons</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </contactlab_hubcommons_setup>
            <contactlab_hubcommons_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contactlab_hubcommons_write>
            <contactlab_hubcommons_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contactlab_hubcommons_read>
        </resources>
        <models>
            <contactlab_hubcommons>
                <class>Contactlab_Hubcommons_Model</class>
                <resourceModel>contactlab_hubcommons_resource</resourceModel>
            </contactlab_hubcommons>
            <contactlab_hubcommons_resource>
                <class>Contactlab_Hubcommons_Model_Resource</class>
                <entities>
                    <log>
                        <table>contactlab_hubcommons_log_entity</table>
                    </log>
                    <deleted>
                        <table>contactlab_hubcommons_deleted_entity</table>
                    </deleted>
                    <task>
                        <table>contactlab_hubcommons_task_entity</table>
                    </task>
                    <task_event>
                        <table>contactlab_hubcommons_task_event_entity</table>
                    </task_event>
                </entities>
            </contactlab_hubcommons_resource>
        </models>
        <template>
            <email>
                <contactlab_hubcommons_error_email_send_email_template translate="label" module="contactlab_hubcommons">
                    <label>Task error email notification</label>
                    <file>contactlab_hubcommons/send_mail.html</file>
                    <type>html</type>
                </contactlab_hubcommons_error_email_send_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <contactlab_hubcommons>
                <use>admin</use>
                <args>
                    <module>Contactlab_Hubcommons</module>
                    <frontName>contactlab_hubcommons</frontName>
                </args>
            </contactlab_hubcommons>
            <adminhtml>
                <args>
                    <modules>
                        <contactlab_hubcommons before="Mage_Adminhtml">Contactlab_Hubcommons_Adminhtml</contactlab_hubcommons>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <contactlab_hubcommons>
                    <file>contactlab/hubcommons.xml</file>
                </contactlab_hubcommons>
            </updates>
        </layout>
        <translate>
            <modules>
                <contactlab_hubcommons>
                    <files>
                        <default>contactlab/Contactlab_Hubcommons.csv</default>
                    </files>
                </contactlab_hubcommons>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <contactlab_hubcommons_consume>
                <description>Consume task event queue</description>
                <schedule>
                    <!-- Consume the queue every minute -->
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_hubcommons/cron::consumeQueue</model>
                </run>
            </contactlab_hubcommons_consume>
            <contactlab_hubcommons_clear_queue>
                <description>Remove old tasks from task queue</description>
                <schedule>
                    <!-- Clear the queue the queue every day -->
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_hubcommons/cron::clearQueue</model>
                </run>
            </contactlab_hubcommons_clear_queue>
            <contactlab_hubcommons_send_email>
                <description>Send error notification email</description>
                <schedule>
                    <cron_expr>5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>contactlab_hubcommons/cron::checkErrors</model>
                </run>
            </contactlab_hubcommons_send_email>
        </jobs>
    </crontab>
    <default>
        <contactlab_hubcommons>
            <global>
                <!--days_of_old_tasks>3</days_of_old_tasks>
                <debug>0</debug-->
                <platform_version>0.1.0</platform_version>
            </global>
            <connection>
                <!--type>1</type>
                <import_local_path>/tmp</import_local_path>
                <export_local_path>/tmp</export_local_path>
                <remote_server>sftp-clab.housing.tomato.it</remote_server>
                <import_remote_path>incoming/exporter</import_remote_path>
                <export_remote_path>incoming/updater</export_remote_path-->
            </connection>
            <soap>
            	<!--wsdl_url><![CDATA[https://soap.contactlab.it/soap/services?wsdl]]></wsdl_url-->
            </soap>
        </contactlab_hubcommons>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Contactlab_Hubcommons/>
            </modules>
        </suite>
    </phpunit>
</config>
